nav{
    position : fixed;
    top:0;
}

.main-content{
    margin-top: 100px;
    margin-bottom: 100px;
}


.profile-card{
    margin: 0 auto;
    width: 800px;
    height: 100%;
    background-color: #F8F9FA;
}

.upper-section{
    width: 700px;
    height: 250px;
    background-color: #343A40;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 auto;
}


.image-section{  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;

}


#image-wrapper{
    background-color: white;
    padding: 10px;
    margin-left: 16px;
    margin-top: 5px;
}

#btn-edit{
    margin-top: 10px;
    background-color: #343A40;
    height: 40px;
    padding: 4px;
    width:150px;
    margin-left: 16px;
    color: white;
}

.detail-section{
    
    width: 700px;
    margin: 0 auto;
}

.bottom-section{
    width: 700px;
    margin: 40px auto;
    padding-left: 20px;
}

#reviews{
    width: 500px;
}

#reviews p{
    margin: 0;
}