{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Volkhov:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,900|Roboto&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/48e95db22f.js" crossorigin="anonymous"></script>
        
        <title>
            Edyoda Stories Demo 
        </title>
        <link href="{% static 'blog/css/card-style.css' %}" rel="stylesheet">
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="topbar">
              <div id="topbar-left">
                <div id="edyoda-stories-logo">
                    <a href="/stories" id="edyoda-logo">EDYODA</a>
                    <p id="stories">Stories</p>
                </div>
                <div class="explore-categories">
                    Explore Categories
                    <span>
                        <img src="{% static 'blog/images/dropdown.png' %}" width="12px" height="6px" alt="dropdownimg"/>
                    </span>
                </div>
              </div>
              <div id="topbar-right">
                  {% if user.is_authenticated%}
                  <img id="user-img-wrap" src="{{user.image.url}}" alt="" width="25px" height="25px">
                    <span><b><a href="{{user.get_absolute_url}}" style="font-family: 'Volkhov', serif;">welcome, {{user.get_username}}</a></b></span>
                    &ensp;<a href="{% url 'logout' %}"><button class="btn">Logout</button></a>
                  {% else %}
                  <img id="user-img-wrap" src="https://img.icons8.com/plasticine/2x/user.png" alt="" width="25px" height="25px">
                    <span><b style="font-family: 'Volkhov', serif;">New,user</b></span>
                    <a href="{% url 'signup' %}"><button class="btn">Sign Up</button></a>&ensp;
                    <span style="font-family: 'Volkhov', serif;">or</span>
                    <a href="{% url 'login' %}"><button class="btn">Login</button></a>
                    
                  {% endif %} 
              </div>
            </div>
            </header>

                {%block content %}
                {% endblock %}
                    
            </div>
          </div>
          <footer>
              <div class="footer-section">

              </div>
          </footer>
    </body>
</html>













<!--
    for later project background image url
    https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png
-->