{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
<link href="{% static 'accounts/css/logsignin.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="login">
    <h1>Delete Post</h1>
    <br/>
    <br/>
    <br/>
    <p>Are you sure you want to delete this blog "{{ object }}"?</p>
    <form method="post">{% csrf_token %}
        <input type="submit" value="Confirm">
    </form>
    <a href="/stories"><button class="btn-down">Not Now</button></a>
</div>

{% endblock %}