{% extends 'blog/base.html' %}
{% load static %}


{% block extra_head %}
{{ form.media }}
<link href="{% static 'blog/css/post-update.css' %}" rel="stylesheet">
<script type="text/javascript">
    tinyMCE.init({
        theme: "advanced",
        theme_advanced_default_foreground_color: "#FFFFFF",
        body_class: "mceBlackBody"
    });
    </script>
{% endblock %}
{% block content %}
<div class="login">
    <h1>Edit Post</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-ele">
                <p>{{form.title.label_tag}}</p>
                <p style="width: 500px;">{{form.title}}</p>
            </div>
            <div id="content-sec">
                <p>{{form.content.label_tag}}</p>
                <p>{{form.content | safe}}</p>
                <p>{{form.content.errors}}</p>
            </div>
            <div class="form-ele-flex">
                <div>
                    <p>{{form.date.label_tag}}</p>
                    <p>{{form.date}}</p>
                </div>
                <div>
                    <p>{{form.author.label_tag}}</p>
                    <p>{{form.author}}</p>
                </div>

            </div>
            <div id="below-content">
            <div class="form-ele-flex">
                <div>
                    <p>{{form.status.label_tag}}</p>
                    <p>{{form.status}}</p>
                </div>
                <div>
                    <p>{{form.category.label_tag}}</p>
                    <p>{{form.category}}</p>
                </div>

            </div>

            <div class="form-ele">
                <p>{{form.images.label_tag}}</p>
                <p>{{form.images}}</p>
            </div>
            <br/>
            <br/>
            <input type="submit" value="Update Post" id="update-post-btn">
            <br/>
        </div>
        </form>
        <br/>
        <br/>
</div>

{% endblock %}