{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'caremain/css/people.css' %}">
{% endblock %}


{% block content %}

<div class="main-body-content">

    <!-- <h2>People You May Like</h2> -->

    
    {% for usr in userlist %}
    <aside class="profile-card">
      <header>
        <!-- here’s the avatar -->
        <a href="{{usr.image.url}}">
          <img src="{{usr.image.url}}">
        </a>
    
        <!-- the username -->
        <h1>{{usr.get_first_name}} {{usr.get_last_name}}</h1>
        <!-- and role or location -->
        <br/>
        <h2>Age:{{usr.age}}</h2>
        <br/>
        <h2>Rating:4.5</h2>
        
      </header>
      
      <!-- bit of a bio; who are you? -->
      <!-- <div class="profile-bio">
        
        <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web Standards Compliance, Performance Optimization, Cross Device Troubleshooting.</p>
        
      </div> -->
      <br/>

      <div>
        <a href="{% url 'detail' usr.id %}"><button class="btn-large waves-light">View Full Profile</button><a href="{% url 'detail' usr.id %}"></a>
      </div>
    </aside>
    <hr>
    {% endfor %}

</div>

{% endblock %}