{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'caremain/css/details.css' %}">
{% endblock %}


{% block content %}

<div class="giant-card">
    <div class=giant-card-item>
        <div class=details-section>
            <div id="card-image">
                <img src="{{usr.image.url}}" alt="aiimage"  width="120px" height="120px"/>
            </div>    
            <div class="card-discription-heading">
                    <h6>Name:{{usr.get_first_name}} {{usr.get_last_name}}</h6>
                    <h6>Age: {{usr.age}}</h6>
                    <h6>Gender : {{usr.gender}}</h6>
                    <h6>Email:{{usr.email}}</h6>
                    <h6>Address: {{usr.address}}</h6>
                    <h6>Phone:{{usr.Phone}}</h6>
                    <h6>Rating:4.5</h6>
            </div>
        </div>
    <div class="card-bottom-section">
        <div class="card-bottom-section-content">
            <h4 id="revhead">Reviews</h4>
        </div>
        <div class="card-bottom-button-section">
            {% for rev in review %}
            <h6>{{rev.review_by.get_first_name}} {{rev.review_by.get_last_name}}</h6>
            <p class="p-reviews">
                {{rev.reviews}}
            </p>
            <br/>
            {% endfor %}
            <br/>
            <br/>
            <p>Your Request has been sent,wait for their response</p>
            <a href=""><button class="btn" disabled>Requested</button></a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}