{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
<link href="{% static 'accounts/css/logsignin.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="login">
    <h1>Change Your Password</h1>
    <br/><br/><br/>
        <form method="POST" enctype="multipart/form-data">
            <!-- {{form.as_p}} -->
            {% csrf_token %}
            {% for f in form %}
            <span class="label-color">{{f.label_tag}}</span>
            <span>{{f}}</span>
            {% endfor %}
            <br/>
            <br/>
            <a><button type="submit">Change</button></a>
            <!-- <input type="submit" value="Change"> -->
        </form>
</div>

{% endblock %}