{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
<link href="{% static 'accounts/css/logsignin.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="login">
    <h1>Reset Password</h1>
        <br/>
        <br/>
        <br/>
        <form method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}
            {% for f in form %}
            <span class="label-color">{{f.errors}}</span>
            <span class="label-color">{{f.label_tag}}</span>
            <span>{{f}}</span>
            {% endfor %}
            <br/>
            <br/>
            <a><button type="submit">Submit</button></a>
            <!-- <input type="submit" value="Submit"> -->
        </form>
</div>

{% endblock %}