{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
<link href="{% static 'accounts/css/logsignin.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    {% if validlink%}
    <div class="login">
        <h1>Reset Your Password</h1>
            <form method="POST" enctype="multipart/form-data">
                <!-- {{form.as_p}} -->
                {% csrf_token %}
                {% for f in form %}
                <span class="label-color">{{f.errors}}</span>
                <span class="label-color">{{f.label_tag}}</span>
                <span>{{f}}</span>
                {% endfor %}
                <br/>
                <br/>
                <a><button type="submit">Reset</button></a>
                <!-- <input type="submit" value="Reset"> -->
            </form>
            
    </div>
    {% else %}
        <p>Invalid link please try again</p>
    {% endif %}
{% endblock %}