{% extends 'blog/base.html' %}
{% load static %}

{% block extra_head %}
<link href="{% static 'accounts/css/update-profile.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="login">
    <h1>Update Your Profile Here</h1>
        <img src="{{user.image.url}}"  width="80px" height="80px"/>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="two-flex">
                    <div>
                    <p class="label-color">{{form.first_name.label_tag}}</p>
                    <p>{{form.first_name}}</p>
                    </div>
                    <div>
                    <p class="label-color">{{form.last_name.label_tag}}</p>
                    <p>{{form.last_name}}</p>
                    </div>
                </div>

                <div class="two-flex">
                    <div>
                    <p class="label-color">{{form.email.label_tag}}</p>
                    <p>{{form.email}}</p>
                    </div>
                    <div>
                    <p class="label-color">{{form.image.label_tag}}</p>
                    <p>{{form.image}}</p>
                    </div>
                </div>
                <div>
                    <p class="label-color">{{form.bio.label_tag}}</p>
                    <p>{{form.bio}}</p>
                </div>

                <div>
                    <p class="is_author label-color">{{form.is_author.label_tag}}</p>
                    <p class="is_author">{{form.is_author}}</p>
                </div>
                    <br/>
                    <br/>
                    <div class="btns">
                        <a><button type="submit">Update</button></a>
                    </div>
            </form>
            <div class='login'>
                <div class="btns">
                    <a href="{% url 'password_change' %}" style="margin-right: 400px;"><button>Change Password</button></a>
                    <a href="/stories" style="margin-left: 400px;"><button>Not Now</button></a>

                </div>
            </div>
</div>

{% endblock %}