body{
    margin: 0;
}

#signup-main{
    background-color: white;
    height: 100vh;
    padding: 0px 150px;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRMPWVqNvqJ9rz5ms68kgT0SE2q0jfC_plcyiFBhLU5Vs6XNdfF&usqp=CAU'); */
}

#center{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    color: wheat;
    background-color: black;
    margin: 0px 250px;
    opacity: 0.8;
    border: 1px solid black;
    height: 100vh;
}

#cred{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#inside-para{
    padding: 0px 50px;
}