{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}


{% block content %}

<div class="main-content">
    <div class="profile-card">
      <div class="upper-section">
          <div class="image-section">
              <div id="image-wrapper">
                  {% if usr.image.url %}
                    <img src ="{{usr.image.url}}" width="150px" height="150px">
                  {% else %}
                    <img src ="{% static 'images/nopic.png' %}" width="150px" height="150px">
                  {% endif %}
                </div>
          </div>
          <h4 style="color: white;">{{usr.get_first_name}} {{usr.get_last_name}}</h4>
      </div>
      <div class="detail-section">
          <p>Age : {{usr.age}}</p>
          <p>Gender : {{usr.gender}}</p>
          <p>Address : {{usr.address}}</p>
          <p>Email : {{usr.email}}</p>
          <p>Phone : {{usr.contact}}</p>
      </div>
      <div class="bottom-section">
          <h4>Reviews and Ratings</h4>
            <div id="reviews">  
              <h6>Suraj chouhan</h6>
              <p>
                  hey this is suraj chouhan and you are the amazing person i have ever meet in my entire career koodos to you.
              </p>
            </div>
      </div>

    </div>
</div>
        <div class="bottom-section">
            {% if careseeker.care_seeker_status %}
                <a class="waves-effect waves-light btn-small">Request Care</a>
            {% else %}
                <p>This Person is not available to be cared right now</p>
                <a class="waves-effect waves-light btn-small">Go Back</a>
            {% endif %}
                <a href="{% url 'index' %}" class="waves-effect waves-light btn-small">Go to Home</a>
        </div>
    </div>
</div>

    {% endblock %}