{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'caremain/css/details.css' %}">
{% endblock %}


{% block content %}

<div class="giant-card">
    <div class=giant-card-item>
        <div class=details-section>
            <div id="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS73VEGYo2m82KVC39Ksyqucdyykyaqg1Ty2XzImvEwxqlWwljT&usqp=CAU" alt="aiimage"  width="120px" height="120px"/>
            </div>    
            <div class="card-discription-heading">
                    <h6>Name:{{usr.get_first_name}} {{usr.get_last_name}}</h6>
                    <h6>Age: {{usr.age}}</h6>
                    <h6>Gender : {{usr.gender}}</h6>
                    <h6>Email:{{usr.email}}</h6>
                    <h6>Address: {{usr.address}}</h6>
                    <h6>Phone:{{usr.Phone}}</h6>
                    <h6>Rating:4.5</h6>
            </div>
        </div>
        <div class="request-btn-section">
            {% if careseeker.care_seeker_status %}
                <a class="waves-effect waves-light btn-small">Request Care</a>
            {% else %}
                <p>This Person is not available to be cared</p>
                <a class="waves-effect waves-light btn-small">Go Back</a>
            {% endif %}
        </div>
    </div>
</div>

    {% endblock %}