{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'userprofile/css/login.css' %}">
{% endblock %}


{% block content %}


<div id="loginbox">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGK_M4vdJQq1sdX4LDyU7NvRdM9eY4JZJYM0k9Gpse2YknSJTV&usqp=CAU" class="avatar">
      <h1>Login Here</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{form.username.label_tag}}</p>
        <span>{{form.username}}</span>
        <p>{{form.password.label_tag}}</p>
        <span>{{form.password}}</span>
        <input type="submit" name="">
        <a href="#">Forgot Password</a>
        <a href="#">Reset Password</a>
      </form>
  </div>


{% endblock %}